@model Ro_VideoGameCatalogue.Models.Videogame

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label text-light">Title</label>
                <input asp-for="Title" class="form-control" id="title" name="title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label text-light">Date of Release</label>
                <input asp-for="ReleaseDate" class="form-control" id="releasedate" name="date"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label text-light">Rating</label>
                <input asp-for="Genre" class="form-control" id="rating" name="rating" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
