@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "The Gamer's Laire";
}

<h2>The Gamer's Lair</h2>
<p>Hello from the baldur's gate or whatever.</p>
